.main_block{
    margin:0 auto;
    width:500px;
    height:200px;
}
#artifact_in, #predicted, #artifact_opened, #obraz_raspr, #obraz_in_lag, #obraz_in_lag_sorted, #obraz_in_gal_sorted, #obraz_in_gal{
    width: 50px;
}
#fine{
    width: 187px;
}
input{
    margin-bottom: 10px;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('map.webp');
    background-size: cover;
    font-size: 20px;
}
h1{
    color: white;
}
label{
    color:  white;
}
result{
    display: none;
}
#rules_link{
    text-decoration: none;
    color: lime;
}
#rules_link:hover{
    color: #11ce11;
}
