.main_block {
  margin: 0 auto;
  width: 500px;
  height: 200px;
}
input {
  margin-bottom: 10px;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("map.png");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: white;
}
label {
  color: white;
}
label.black {
  color: black;
}
.pointer {
  cursor: pointer;
}